[WinEventLog://Application]
disabled = 0
index = windows
renderXml = 1
sourcetype = XmlWinEventLog:Application
[WinEventLog://Security]
disabled = 0
index = windows
renderXml = 1
sourcetype = XmlWinEventLog:Security
[WinEventLog://System]
disabled = 0
index = windows
renderXml = 1
sourcetype = XmlWinEventLog:System
[WinEventLog://Microsoft-Windows-Firewall With Advanced Security/Firewall]
disabled = 0
index = windows
renderXml = 1
sourcetype = XmlWinEventLog:Firewall
[WinEventLog://Microsoft-Windows-Sysmon/Operational]
disabled = 0
index = sysmon
renderXml = 1
sourcetype = XmlWinEventLog:Microsoft-Windows-Sysmon/Operational
[WinEventLog://Microsoft-Windows-Powershell/Operational]
disabled = 0
index = windows
renderXml = 1
sourcetype = XmlWinEventLog:Powershell
